version: "3"
services:
    appserver:
        container_name: react-mobx-loader_appserver
        image: meuhmeuhconcept/php:2.3
        working_dir: /srv
        volumes:
            - .:/srv
            - ./.home-developer:/home/developer
        environment:
            - USERNAME
            - UNIX_UID
            - CONTAINER_SHELL
            - NODE_ENV
        command: 'tail -f /srv/README.md'
        restart: always
